:host{
  background-size: cover;
}

mat-form-field{
  width: 100%;
}
*{
  text-align: center;
}
.header-problem{
  font-size: 6em;
}
.header-facts{
  font-size: 10em;
  font-weight: 500;
}
h2{
  text-align: center;
}